#titulo{
    background-color: ForestGreen;
    padding: 0.1;
    margin: 0;
}
#inicio{
    background-color: YellowGreen;
    height: 480px;
    padding: 1em;
    margin: 0;
}
#logo{
    display: block;
    padding: 1em;
}


.btn{
    display: block;
    width: 45%;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}
/* NAVBAR */
.navbar{
 background-color: #3a3;

}

.navbar-default .navbar-brand{
color : #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
color : #AFA;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
background-color : #AFA;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
background-color : #3a3;
}

.navbar-default .navbar-nav > li > a{
color : #AFA;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
color : #FFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{

color: #555;
background-color: #AFA;


}

.navbar.navbar-default.navbar-static-top{
    margin-bottom: 0;
}