#titulo{
    background-color: OrangeRed;
    padding: 0.1;
    margin: 0;
}
#inicio{
    background-color: DarkOrange;
    height: 200px;
    padding: 1em;
    margin: 0;
}
#logo{
    display: block;
    padding: 1em;
}
/* NAVBAR */
.navbar{
 background-color: #3a3;

}

.navbar-default .navbar-brand{
color : #FFF;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
color : #AFA;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
background-color : #AFA;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
background-color : #3a3;
}

.navbar-default .navbar-nav > li > a{
color : #AFA;

}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
color : #FFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{

color: #555;
background-color: #AFA;

}